body {
	background-color: #808080;

}

h1 {
  font-family: 'Quicksand', sans-serif;
  color: #FFFFFF;
  font-kerning: 20px;
  font-size: 50px;
  text-align: center;
  font-weight: 300;
  letter-spacing: 6px;
}

.col-4 {
	background-color: #333333;
  display: block;
	margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	text-decoration: none;
	color: #FFFFFF;
    
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: #EACCF2;
	text-decoration: none;
}


h3 {
  font-family: 'Quicksand', sans-serif;
  color: #E7E7E7;
  font-size: 20px;
  margin: auto;
 }


p {

  font-family: 'Raleway', sans-serif;
  color: #E7E7E7;
  font-size: 15px;
  font-kerning: 40;
 
}
img {
	display: block;
    margin: 0 auto; 
    }   

footer {
	background-color: #4D4D4D;
	display: block;
	position: absolute;
  width: 100%;
  margin-top: 300px;

}
 
 #about, #portfolio{
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  margin-top: 100px;
  display: block;
  margin-left: 100px;

 }

.about-text {
  color: #FFFFFF;
  font-family: 'Raleway', sans-serif;
  width: 900px;
  display: block;
  margin-left: 100px;
  margin-top: 1px;

}


.carousel{
  margin-top: 300px;
}
.col-6 {
	text-align: left;
	margin: auto;
}

.active {
  width: 500px;
  height: 400px;
}



@media screen and (max-width: 764px){
    .contact1{
        flex-direction: column;
    }

    .flexflip {
        display: none;
    }

    .project {
        flex-direction: column;
        max-width: none;

    }

    .hamburger {
        display: block;
    }

    .nav1 {
        display: none;
    }

    h1 {
        font-size: 2em;
    }

    p, h2, h3 {
        font-size: 16px;
    }

    .testimonials p {
        margin: 0 auto;
    }
}
