body {
	background-color: #808080;

}

h1 {
  font-family: 'Quicksand', sans-serif;
  color: #FFFFFF;
 font-kerning: 20px;
  font-size: 50px;
  text-align: center;
}

nav, li {
    font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	text-decoration: none;
	color: #FFFFFF;
	display: inline;s
	list-style-type: none;
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    background-color: #333333;
    }

li {
    float: left;
    text-align: center;
}

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    
}

a:hover {
	color: #EACCF2;
}


h3 {
  font-family: 'Quicksand', sans-serif;
  color: #E7E7E7;
  font-size: 20px;
  margin-left: 10px;

}

p {
  font-family: 'Quicksand', sans-serif;
  color: #E7E7E7;
  font-size: 15px;
  font-kerning: 40;
 
}

#profilepic {
	display: float;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 5%
}

footer {
	background-color: #4D4D4D;
	display: block;
	position: absolute;
    width: 100%;

}
.infopt1{
	text-align: left;
	margin-left: 10px;
}

.infopt2{
	text-align: left;
	margin-left: 10px;

}